.login-button {
    height: 100%;
    background-color: var(--darkred);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: white;
    gap: 5px;
    font-size: 12px;
}

.login-button i {
    font-size: 16px;
}

.bgvideo {
    position: fixed;
    top: 45px;
    z-index: -100;
    left: -450px;
}

.REPmainText {
    background-position: center center;
    /* border: 1px solid white; */
    top: 90px;
    left: -70px;
    width: 250px;
    height: 100px;
}

.backgroundselect {
    color: white;
    font-size: 12px;
    position: absolute;
    right: -40px;
    transform: rotate(90deg);
    top: 80px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.bgmovie {
    position: absolute;
    left: 50px;
    color: white;
    font-family: oswald;
}


.bgmovie a {
    font-size: 12px;
}

.scroll {
    display: none;
}